fastapi
requests
aiohttp
sentencepiece
matplotlib
torch
transformers
uvicorn[standard]
Pillow
huggingface_hub
omegaconf==2.1.1
einops==0.3.0
pytorch-lightning==1.7.7
torchmetrics==0.11.0
torchvision
numpy
albumentations
opencv-python
pudb
imageio
protobuf==3.20.3
imageio-ffmpeg
torch-fidelity==0.3.0
kornia
-e git+https://github.com/da03/latent-diffusion.git#egg=latent-diffusion
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip