fastapi
requests
sentencepiece
torch
transformers
uvicorn[standard]
Pillow
huggingface_hub
omegaconf
einops
pytorch-lightning==1.4.2
torchvision
numpy
albumentations
opencv-python
pudb
imageio
imageio-ffmpeg
torch-fidelity
kornia